<h1>ID: {{movieinstance._id}} </h1>

<p>
  <strong>Title</strong>
  {{movieinstance.movie.title}}
</p>
<p>
  <strong>Imprint</strong>
  {{movieinstance.imprint}}
</p>
<p>
  <strong>status</strong>
  {{movieinstance.status}}
</p>
<p>
  <strong>Due back</strong>
  {{movieinstance.dueDate}}
</p>